language: bash
services:
  - docker
env:
  global:
    - IMAGE_PATH='grayhemp'
    # REGISTRY_PASSWORD is taken from the job settings
    - TAG='master'
script:
  - "./build"
  - "./build test"
deploy:
  provider: script
  script:
    - echo "${REGISTRY_PASSWORD?}" | ./build push
  on:
    branch: master
