language: bash
services:
  - docker
env:
  global:
    - DOCKER_REGISTRY_USERNAME='grayhemp'
    # DOCKER_REGISTRY_PASSWORD is taken from the job settings
    - IMAGE_REPO='grayhemp'
    - IMAGE_TAG='master'
  matrix:
script:
  - "./build"
  - "./build test"
deploy:
  provider: script
  script:
    - echo "${DOCKER_REGISTRY_PASSWORD?}" | ./build push
  on:
    branch: master
